@font-face {
  font-family: 'Belgika';
  font-weight: bold;
  font-style: normal;
  src: url(../assets/fonts/Belgika/Belgika-8th.otf) format('opentype');
}

@font-face {
  font-family: 'Belgika';
  font-weight: normal;
  font-style: normal;
  src: url(../assets/fonts/Belgika/Belgika-5th.otf) format('opentype');
}

@font-face {
  font-family: 'Belgika';
  font-weight: lighter;
  font-style: normal;
  src: url(../assets/fonts/Belgika/Belgika-16th.otf) format('opentype');
}

@font-face {
  font-family: 'Farro';
  font-weight: bold;
  font-style: normal;
  src: url(../assets/fonts/Farro/Farro-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Farro';
  font-weight: normal;
  font-style: normal;
  src: url(../assets/fonts/Farro/Farro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Farro';
  font-weight: lighter;
  font-style: normal;
  src: url(../assets/fonts/Farro/Farro-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Khmer';
  font-weight: normal;
  font-style: normal;
  src: url(../assets/fonts/KhmerOSPheatraC5.ttf) format('truetype');
}

@font-face {
  font-family: 'Khbaph';
  font-weight: normal;
  font-style: normal;
  src: url(../assets/fonts/khbaphnom.ttf) format('truetype');
}
